<section id="navbar">
  <div class="container-fluid">
    <div class="row web-view d-xl-flex d-none">
      <div class="col-6 mx-auto">
        <ul>
          <li>
            <a class="link" href="/"> Home </a>
          </li>
          <li>
            <a class="link" href="/"> About </a>
          </li>
          <li>
            <a class="link" href="/"> Blog </a>
          </li>
          <li>
            <a class="link" href="/"> Contact </a>
          </li>
          <li>
            <a class="link px-3" href="/">
              <img src="../assets/search.svg" alt="search icon" />
            </a>
          </li>
          <li>
            <a class="link px-3" href="/">
              <img src="../assets/cart.svg" alt="cart icon" />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mobile-view" style="display: none">
      <ul>
        <li>
          <a onClick="{Toggler}" class="link" href="/"> Home </a>
        </li>
        <li>
          <a onClick="{Toggler}" class="link" href="/"> About </a>
        </li>
        <li>
          <a onClick="{Toggler}" class="link" href="/"> Blog </a>
        </li>
        <li>
          <a onClick="{Toggler}" class="link" href="/"> Contact </a>
        </li>
        <li>
          <a onClick="{Toggler}" class="link" href="/">
            <img src="../assets/search.svg" alt="search icon" />
          </a>
        </li>
        <li>
          <a onClick="{Toggler}" class="link" href="/">
            <img src="../assets/cart.svg" alt="cart icon" />
          </a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col">
        <div class="hemburger-menu d-xl-none d-flex" onClick="{Toggler}">
          <i class="fas fa-bars"></i>
        </div>
        <img src="../assets/logo.svg" class="img-fluid logo" alt="logo" />
      </div>
    </div>
  </div>
</section>

<!-- {/* Home Header Section Start */} -->
<header id="home-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 px-0">
        <div class="category-tab">
          <div class="heading">Categories</div>
          <ul>
            <li>
              <a class="link" href="/"> Dress </a>
            </li>
            <li>
              <a class="link" href="/"> Tops </a>
            </li>
            <li>
              <a class="link" href="/"> Jeans </a>
            </li>
            <li>
              <a class="link" href="/"> Designer Kurtis </a>
            </li>
            <li>
              <a class="link" href="/"> Plazo sets </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- {/* Home Header Section End */} -->

<!-- {/* Second Section Start */} -->
<section id="home-second-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 order-md-1 order-2">
        <img src="../assets/img1.png" class="img-fluid" alt="illustration" />
        <div class="row">
          <div class="col-6">
            <img
              src="../assets/img2.png"
              style="height: 220px; width: 100%"
              class="img-fluid"
              alt="illustration"
            />
          </div>
          <div class="col-6">
            <div class="offers">
              <p>offers</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 order-md-2 order-1">
        <div class="offers">
          <p>offers</p>
        </div>
        <img src="../assets/img3.png" class="img-fluid" alt="illustration" />
      </div>
    </div>
  </div>
</section>
<!-- {/* Second Section End */} -->

<!-- {/* Third Section Start */} -->
<section id="home-third-section">
  <div class="container mb-4 mt-3">
    <div class="row">
      <div class="col-12">
        <div class="offers">Offers</div>
      </div>
    </div>
  </div>
</section>
<!-- {/* Third Section End */} -->

<!-- {/* Fourth Section Start */} -->
<section id="home-fourth-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="row">
          <div class="col-sm-6">
            <div class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt,
              unde molestiae magni eaque laudantium est consequuntur aut ab
              dolor possimus, perferendis rem earum ipsum dignissimos eos
              debitis optio sequi consequatur alias minus cumque quam fugit.
              Accusantium aliquid perferendis necessitatibus iusto quo
              reprehenderit. Culpa optio veniam velit totam laboriosam sequi,
              similique veritatis. Maxime officiis molestiae quos blanditiis
              voluptates quis ut enim? Minus rerum, ipsum hic provident deleniti
              velit cumque asperiores ratione iusto. Autem distinctio modi quo
              hic rem eligendi id, minus, nemo ullam ipsum magnam fugit
              quibusdam. Sequi laborum quidem qui eveniet aperiam, magnam unde
              odio obcaecati ex, magni alias consequatur!
            </div>
          </div>
          <div class="col-sm-6">
            <img
              src="../assets/home-fouth.png"
              class="img-fluid"
              alt="illustration"
            />
          </div>
          <div class="col-12 d-flex">
            <div class="btn explore-btn mx-auto">Explore More</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- {/* Fourth Section End */} -->

<!-- {/* Treanding Section Start */} -->
<section id="home-trending">
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="row">
          <div class="col-12">
            <div class="trending-section-heading">trending</div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-4 col-6">
            <div class="boxWrapper">
              <div class="img"></div>
              <div class="name">name</div>
              <div class="price">price</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <div class="boxWrapper">
              <div class="img"></div>
              <div class="name">name</div>
              <div class="price">price</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <div class="boxWrapper">
              <div class="img"></div>
              <div class="name">name</div>
              <div class="price">price</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <div class="boxWrapper">
              <div class="img"></div>
              <div class="name">name</div>
              <div class="price">price</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <div class="boxWrapper">
              <div class="img"></div>
              <div class="name">name</div>
              <div class="price">price</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <div class="boxWrapper">
              <div class="img"></div>
              <div class="name">name</div>
              <div class="price">price</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <div class="boxWrapper">
              <div class="img"></div>
              <div class="name">name</div>
              <div class="price">price</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <div class="boxWrapper">
              <div class="img"></div>
              <div class="name">name</div>
              <div class="price">price</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <div class="boxWrapper">
              <div class="img"></div>
              <div class="name">name</div>
              <div class="price">price</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <div class="boxWrapper">
              <div class="img"></div>
              <div class="name">name</div>
              <div class="price">price</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <div class="boxWrapper">
              <div class="img"></div>
              <div class="name">name</div>
              <div class="price">price</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <div class="boxWrapper">
              <div class="img"></div>
              <div class="name">name</div>
              <div class="price">price</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <div class="boxWrapper">
              <div class="img"></div>
              <div class="name">name</div>
              <div class="price">price</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <div class="boxWrapper">
              <div class="img"></div>
              <div class="name">name</div>
              <div class="price">price</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <div class="boxWrapper">
              <div class="img"></div>
              <div class="name">name</div>
              <div class="price">price</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <div class="boxWrapper">
              <div class="img"></div>
              <div class="name">name</div>
              <div class="price">price</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- {/* Treanding Section End */} -->

<!-- {/* Footer Section Start */} -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-11 mx-auto main-footer-container">
        <div class="row">
          <div class="col-12">
            <div class="subcribe-footer">
              <div class="subscribe-text">subscribe for our latest updates</div>
              <div class="btn subscribe-btn">subscribe</div>
            </div>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-lg-3 col-md-4 col-sm-6 mb-md-0 mb-5">
            <h6 class="footer-list-heading">online shopping</h6>
            <ul class="footer-list">
              <li>
                <a href="/" class="list" onClick="{ScrollToTop}"> Men </a>
              </li>
              <li>
                <a href="/" class="list" onClick="{ScrollToTop}"> Women </a>
              </li>
              <li>
                <a href="/" class="list" onClick="{ScrollToTop}"> Kids </a>
              </li>
              <li>
                <a href="/" class="list" onClick="{ScrollToTop}">
                  Home & Living
                </a>
              </li>
              <li>
                <a href="/" class="list" onClick="{ScrollToTop}"> Beauty </a>
              </li>
              <li>
                <a href="/" class="list" onClick="{ScrollToTop}">
                  Gift Cards
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 mb-md-0 mb-5">
            <h6 class="footer-list-heading">useful links</h6>
            <ul class="footer-list">
              <li>
                <a href="/" class="list" onClick="{ScrollToTop}"> Home </a>
              </li>
              <li>
                <a href="/" class="list" onClick="{ScrollToTop}"> About </a>
              </li>
              <li>
                <a href="/" class="list" onClick="{ScrollToTop}"> Blogs </a>
              </li>
              <li>
                <a href="/" class="list" onClick="{ScrollToTop}">
                  Contact Us
                </a>
              </li>
              <li>
                <a href="/" class="list" onClick="{ScrollToTop}"> FAQ </a>
              </li>
              <li>
                <a href="/" class="list" onClick="{ScrollToTop}"> T&C </a>
              </li>
              <li>
                <a href="/" class="list" onClick="{ScrollToTop}">
                  Terms of Use
                </a>
              </li>
              <li>
                <a href="/" class="list" onClick="{ScrollToTop}">
                  Track Orders
                </a>
              </li>
              <li>
                <a href="/" class="list" onClick="{ScrollToTop}"> Shipping </a>
              </li>
              <li>
                <a href="/" class="list" onClick="{ScrollToTop}">
                  Cancellation
                </a>
              </li>
              <li>
                <a href="/" class="list" onClick="{ScrollToTop}"> Returns </a>
              </li>
              <li>
                <a href="/" class="list" onClick="{ScrollToTop}"> Whitehat </a>
              </li>
              <li>
                <a href="/" class="list" onClick="{ScrollToTop}"> Careers </a>
              </li>
              <li>
                <a href="/" class="list" onClick="{ScrollToTop}">
                  Privacy Policy
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 mb-md-0 mb-5">
            <h6 class="footer-list-heading">keep in touch</h6>
            <ul class="footer-icon-list">
              <li>
                <a href="">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fab fa-pinterest-p"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fab fa-whatsapp"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- {/* Footer Section End */} -->
